# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# SSH keys and certificates
*.pem
*-cert.pub
id_rsa*

# Environment variables
.env
*.env

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
